.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vite.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.node.json
**/tsconfig.src.json
**/eslint.config.js
**/*.map
**/*.ts
**/.vscode-test.*
build/**
.github
package.json
package-lock.json
env.d.ts
